# SQL Project

In [1]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

### Q10: Produce a list of facilities with a total revenue less than 1000.The output of facility name and total revenue, sorted by revenue. Remember that there's a different cost for guests and members!

In [5]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
     SELECT name, SUM(Total_Cost) AS Revenue
     FROM (SELECT f.facid,f.name, (CASE WHEN b.memid = 0 THEN f.guestcost*b.slots ELSE f.membercost*b.slots END) AS Total_Cost
     FROM Bookings as b
     INNER JOIN Facilities as f
     ON f.facid = b.facid) AS x
     GROUP BY facid
     HAVING SUM(Total_Cost)<1000
     ORDER BY Revenue;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)

### Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order.

In [12]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
     SELECT (m.firstname||' '||m.surname) AS Member, (n.firstname||' '||n.surname) AS Recommended_by
     FROM Members AS m
     INNER JOIN Members AS n
     ON m.recommendedby = n.memid
     WHERE m.memid<>0
     ORDER BY m.firstname, m.surname;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Anna Mackenzie', 'Darren Smith')
('Anne Baker', 'Ponder Stibbons')
('Charles Owen', 'Darren Smith')
('David Jones', 'Janice Joplette')
('David Pinker', 'Jemima Farrell')
('Douglas Jones', 'David Jones')
('Erica Crumpet', 'Tracy Smith')
('Florence Bader', 'Ponder Stibbons')
('Gerald Butters', 'Darren Smith')
('Henrietta Rumney', 'Matthew Genting')
('Henry Worthington-Smyth', 'Tracy Smith')
('Jack Smith', 'Darren Smith')
('Janice Joplette', 'Darren Smith')
('Joan Coplin', 'Timothy Baker')
('John Hunt', 'Millicent Purview')
('Matthew Genting', 'Gerald Butters')
('Millicent Purview', 'Tracy Smith')
('Nancy Dare', 'Janice Joplette')
('Ponder Stibbons', 'Burton Tracy')
('Ramnaresh Sarwin', 'Florence Bader')
('Tim Boothe', 'Tim Rownam')
('Timothy Baker', 'Jemima Farrell')

### Q12: Find the facilities with their usage by member, but not guests

In [13]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
     SELECT name, M_Name,SUM(slots) AS num_usage
     FROM (SELECT f.name, b.slots,(firstname||' '||surname) AS M_Name
         FROM Facilities as f
         LEFT JOIN Bookings as b
         ON f.facid=b.facid
         LEFT JOIN Members as m
         ON b.memid = m.memid
         WHERE b.memid<>0) AS x
     GROUP BY name, M_Name; 
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Badminton Court', 'Anna Mackenzie', 96)
('Badminton Court', 'Anne Baker', 30)
('Badminton Court', 'Burton Tracy', 6)
('Badminton Court', 'Charles Owen', 18)
('Badminton Court', 'Darren Smith', 432)
('Badminton Court', 'David Jones', 24)
('Badminton Court', 'David Pinker', 21)
('Badminton Court', 'Douglas Jones', 6)
('Badminton Court', 'Erica Crumpet', 6)
('Badminton Court', 'Florence Bader', 27)
('Badminton Court', 'Gerald Butters', 63)
('Badminton Court', 'Henry Worthington-Smyth', 15)
('Badminton Court', 'Hyacinth Tupperware', 3)
('Badminton Court', 'Jack Smith', 36)
('Badminton Court', 'Jemima Farrell', 21)
('Badminton Court', 'John Hunt', 6)
('Badminton Court', 'Millicent Purview', 6)
('Badminton Court', 'Nancy Dare', 30)
('Badminton Court', 'Ponder Stibbons', 48)
('Badminton Court', 'Ramnaresh Sarwin', 21)
('Badminton Court', 'Tim Boothe', 36)
('Badminton Court', 'Tim Rownam', 12)
('Badminton Court', 'Timothy Baker', 21)
('Badminton Court', 'Tracy Smith', 102)
('Massage Room 1', 'Anna Mackenzie', 2)
('Massage Room 1', 'Anne Baker', 6)
('Massage Room 1', 'Burton Tracy', 62)
('Massage Room 1', 'Charles Owen', 22)
('Massage Room 1', 'Darren Smith', 58)
('Massage Room 1', 'David Jones', 40)
('Massage Room 1', 'David Pinker', 6)
('Massage Room 1', 'Erica Crumpet', 4)
('Massage Room 1', 'Gerald Butters', 66)
('Massage Room 1', 'Henry Worthington-Smyth', 2)
('Massage Room 1', 'Hyacinth Tupperware', 2)
('Massage Room 1', 'Jack Smith', 54)
('Massage Room 1', 'Janice Joplette', 24)
('Massage Room 1', 'Jemima Farrell', 68)
('Massage Room 1', 'Joan Coplin', 2)
('Massage Room 1', 'John Hunt', 6)
('Massage Room 1', 'Matthew Genting', 52)
('Massage Room 1', 'Nancy Dare', 38)
('Massage Room 1', 'Ponder Stibbons', 40)
('Massage Room 1', 'Ramnaresh Sarwin', 16)
('Massage Room 1', 'Tim Boothe', 76)
('Massage Room 1', 'Tim Rownam', 176)
('Massage Room 1', 'Timothy Baker', 50)
('Massage Room 1', 'Tracy Smith', 12)
('Massage Room 2', 'Anne Baker', 4)
('Massage Room 2', 'Charles Owen', 4)
('Massage Room 2', 'David Jones', 8)
('Massage Room 2', 'Florence Bader', 4)
('Massage Room 2', 'Gerald Butters', 2)
('Massage Room 2', 'Jack Smith', 2)
('Massage Room 2', 'Janice Joplette', 4)
('Massage Room 2', 'Joan Coplin', 4)
('Massage Room 2', 'Matthew Genting', 2)
('Massage Room 2', 'Nancy Dare', 10)
('Massage Room 2', 'Ramnaresh Sarwin', 6)
('Massage Room 2', 'Tim Rownam', 4)
('Pool Table', 'Anna Mackenzie', 83)
('Pool Table', 'Anne Baker', 12)
('Pool Table', 'Burton Tracy', 30)
('Pool Table', 'Charles Owen', 1)
('Pool Table', 'Darren Smith', 28)
('Pool Table', 'David Farrell', 25)
('Pool Table', 'David Jones', 8)
('Pool Table', 'David Pinker', 9)
('Pool Table', 'Douglas Jones', 2)
('Pool Table', 'Florence Bader', 23)
('Pool Table', 'Gerald Butters', 6)
('Pool Table', 'Henrietta Rumney', 3)
('Pool Table', 'Henry Worthington-Smyth', 37)
('Pool Table', 'Hyacinth Tupperware', 9)
('Pool Table', 'Jack Smith', 7)
('Pool Table', 'Janice Joplette', 27)
('Pool Table', 'Jemima Farrell', 1)
('Pool Table', 'Joan Coplin', 11)
('Pool Table', 'Matthew Genting', 18)
('Pool Table', 'Millicent Purview', 5)
('Pool Table', 'Nancy Dare', 19)
('Pool Table', 'Ponder Stibbons', 12)
('Pool Table', 'Ramnaresh Sarwin', 13)
('Pool Table', 'Tim Boothe', 26)
('Pool Table', 'Tim Rownam', 282)
('Pool Table', 'Timothy Baker', 95)
('Pool Table', 'Tracy Smith', 64)
('Snooker Table', 'Anna Mackenzie', 14)
('Snooker Table', 'Burton Tracy', 40)
('Snooker Table', 'Charles Owen', 44)
('Snooker Table', 'Darren Smith', 24)
('Snooker Table', 'David Farrell', 2)
('Snooker Table', 'David Jones', 4)
('Snooker Table', 'David Pinker', 32)
('Snooker Table', 'Florence Bader', 66)
('Snooker Table', 'Gerald Butters', 72)
('Snooker Table', 'Henrietta Rumney', 28)
('Snooker Table', 'Hyacinth Tupperware', 12)
('Snooker Table', 'Jack Smith', 10)
('Snooker Table', 'Janice Joplette', 142)
('Snooker Table', 'Jemima Farrell', 44)
('Snooker Table', 'Joan Coplin', 20)
('Snooker Table', 'Matthew Genting', 2)
('Snooker Table', 'Millicent Purview', 2)
('Snooker Table', 'Nancy Dare', 46)
('Snooker Table', 'Ponder Stibbons', 40)
('Snooker Table', 'Ramnaresh Sarwin', 36)
('Snooker Table', 'Tim Boothe', 90)
('Snooker Table', 'Tracy Smith', 90)
('Squash Court', 'Anna Mackenzie', 4)
('Squash Court', 'Anne Baker', 110)
('Squash Court', 'Burton Tracy', 78)
('Squash Court', 'Charles Owen', 14)
('Squash Court', 'Darren Smith', 30)
('Squash Court', 'David Farrell', 2)
('Squash Court', 'David Jones', 16)
('Squash Court', 'David Pinker', 6)
('Squash Court', 'Douglas Jones', 2)
('Squash Court', 'Florence Bader', 4)
('Squash Court', 'Gerald Butters', 18)
('Squash Court', 'Henrietta Rumney', 4)
('Squash Court', 'Hyacinth Tupperware', 2)
('Squash Court', 'Jack Smith', 22)
('Squash Court', 'Janice Joplette', 30)
('Squash Court', 'Jemima Farrell', 16)
('Squash Court', 'Joan Coplin', 2)
('Squash Court', 'John Hunt', 2)
('Squash Court', 'Millicent Purview', 2)
('Squash Court', 'Ponder Stibbons', 4)
('Squash Court', 'Ramnaresh Sarwin', 4)
('Squash Court', 'Tim Boothe', 24)
('Squash Court', 'Timothy Baker', 10)
('Squash Court', 'Tracy Smith', 12)
('Table Tennis', 'Anna Mackenzie', 32)
('Table Tennis', 'Anne Baker', 2)
('Table Tennis', 'Burton Tracy', 48)
('Table Tennis', 'Charles Owen', 50)
('Table Tennis', 'Darren Smith', 56)
('Table Tennis', 'David Jones', 22)
('Table Tennis', 'David Pinker', 34)
('Table Tennis', 'Erica Crumpet', 4)
('Table Tennis', 'Florence Bader', 86)
('Table Tennis', 'Gerald Butters', 2)
('Table Tennis', 'Henry Worthington-Smyth', 6)
('Table Tennis', 'Jack Smith', 10)
('Table Tennis', 'Janice Joplette', 18)
('Table Tennis', 'Jemima Farrell', 24)
('Table Tennis', 'Joan Coplin', 46)
('Table Tennis', 'John Hunt', 2)
('Table Tennis', 'Matthew Genting', 54)
('Table Tennis', 'Millicent Purview', 14)
('Table Tennis', 'Nancy Dare', 10)
('Table Tennis', 'Ponder Stibbons', 6)
('Table Tennis', 'Ramnaresh Sarwin', 6)
('Table Tennis', 'Tim Boothe', 8)
('Table Tennis', 'Tim Rownam', 150)
('Table Tennis', 'Timothy Baker', 48)
('Table Tennis', 'Tracy Smith', 56)
('Tennis Court 1', 'Anne Baker', 18)
('Tennis Court 1', 'Burton Tracy', 93)
('Tennis Court 1', 'Charles Owen', 51)
('Tennis Court 1', 'David Farrell', 18)
('Tennis Court 1', 'David Jones', 84)
('Tennis Court 1', 'David Pinker', 51)
('Tennis Court 1', 'Douglas Jones', 27)
('Tennis Court 1', 'Erica Crumpet', 3)
('Tennis Court 1', 'Florence Bader', 3)
('Tennis Court 1', 'Gerald Butters', 171)
('Tennis Court 1', 'Jack Smith', 75)
('Tennis Court 1', 'Janice Joplette', 57)
('Tennis Court 1', 'Jemima Farrell', 3)
('Tennis Court 1', 'Joan Coplin', 21)
('Tennis Court 1', 'John Hunt', 12)
('Tennis Court 1', 'Matthew Genting', 3)
('Tennis Court 1', 'Nancy Dare', 81)
('Tennis Court 1', 'Ponder Stibbons', 3)
('Tennis Court 1', 'Ramnaresh Sarwin', 15)
('Tennis Court 1', 'Tim Boothe', 12)
('Tennis Court 1', 'Tim Rownam', 18)
('Tennis Court 1', 'Timothy Baker', 45)
('Tennis Court 1', 'Tracy Smith', 93)
('Tennis Court 2', 'Anne Baker', 114)
('Tennis Court 2', 'Burton Tracy', 9)
('Tennis Court 2', 'Charles Owen', 141)
('Tennis Court 2', 'Darren Smith', 57)
('Tennis Court 2', 'David Farrell', 3)
('Tennis Court 2', 'David Jones', 99)
('Tennis Court 2', 'Florence Bader', 24)
('Tennis Court 2', 'Gerald Butters', 9)
('Tennis Court 2', 'Henrietta Rumney', 3)
('Tennis Court 2', 'Jack Smith', 3)
('Tennis Court 2', 'Janice Joplette', 24)
('Tennis Court 2', 'Jemima Farrell', 3)
('Tennis Court 2', 'John Hunt', 12)
('Tennis Court 2', 'Millicent Purview', 3)
('Tennis Court 2', 'Nancy Dare', 33)
('Tennis Court 2', 'Ponder Stibbons', 96)
('Tennis Court 2', 'Ramnaresh Sarwin', 36)
('Tennis Court 2', 'Tim Boothe', 168)
('Tennis Court 2', 'Tim Rownam', 18)
('Tennis Court 2', 'Timothy Baker', 21)
('Tennis Court 2', 'Tracy Smith', 6)

### Q13: Find the facilities usage by month, but not guests

In [16]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
     SELECT fac_name, year, month, SUM(slots) AS us
     FROM (SELECT f.name AS fac_name, strftime('%Y',b.starttime) AS year, strftime('%m',b.starttime) AS month, b.slots
         FROM Bookings AS b
         LEFT JOIN Facilities as f
         ON f.facid = b.facid) AS x
     GROUP BY fac_name, month
     ORDER BY month, fac_name;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Badminton Court', '2012', '07', 180)
('Massage Room 1', '2012', '07', 264)
('Massage Room 2', '2012', '07', 24)
('Pool Table', '2012', '07', 117)
('Snooker Table', '2012', '07', 156)
('Squash Court', '2012', '07', 164)
('Table Tennis', '2012', '07', 104)
('Tennis Court 1', '2012', '07', 270)
('Tennis Court 2', '2012', '07', 207)
('Badminton Court', '2012', '08', 459)
('Massage Room 1', '2012', '08', 492)
('Massage Room 2', '2012', '08', 82)
('Pool Table', '2012', '08', 322)
('Snooker Table', '2012', '08', 326)
('Squash Court', '2012', '08', 400)
('Table Tennis', '2012', '08', 304)
('Tennis Court 1', '2012', '08', 459)
('Tennis Court 2', '2012', '08', 483)
('Badminton Court', '2012', '09', 570)
('Massage Room 1', '2012', '09', 648)
('Massage Room 2', '2012', '09', 122)
('Pool Table', '2012', '09', 471)
('Snooker Table', '2012', '09', 426)
('Squash Court', '2012', '09', 540)
('Table Tennis', '2012', '09', 422)
('Tennis Court 1', '2012', '09', 591)
('Tennis Court 2', '2012', '09', 588)